@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
body {
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    word-spacing:normal;
}

p {
    padding: 1rem 1rem 1rem 2rem;
    align-content: center;
    font-family: 'JetBrains Mono', monospace;
   
}

.container {
    display: flex;
    width:100%;
    max-width:620px;
    min-width:450px;
    margin:0 auto;

}
img{
    width:100%;
}
.columns {
    flex-wrap: wrap;
    flex-direction: row;
    
}



.column-right {
   
    font-family: 'JetBrains Mono', monospace;
    
    
}

.column-right p{
    
    width:35%;
    margin-left: 0;
    padding:0;
}

#fh3 {
    align-content: center;
    margin-top:5%;
    margin-left: 35%;

}

#btn{
    padding:1rem;
    text-transform: uppercase;
    background-color: black;
    color:white;
    font-family: 'JetBrains Mono', monospace;
}

/*animation*/

@keyframes spinning {
    from { transform: rotate(0deg) }
    to { transform: rotate(360deg) }
  }
  .spin {
    animation-name: spinning;
    animation-duration: 3s;
    animation-iteration-count: 10;
    /* linear | ease | ease-in | ease-out | ease-in-out */
    animation-timing-function: linear;
  }