@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
body {
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;
    word-spacing:normal;
}

p {
    padding: 1rem 1rem 1rem 2rem;
    align-content: center;
    font-family: 'JetBrains Mono', monospace;
   
}

.container {
    display: flex;

}

.columns {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;

}

.column-left {
    width: 40%;
    height: 100%;
    float: left;
    justify-content: flex-start;
    margin-left:20px;

}

.column-left img {
    padding: 1rem 0rem 1rem 1rem;
    width: 85%;
    height: 100%;
    object-fit: contain;
}

.column-right {
    margin-left: 0;
    font-family: 'JetBrains Mono', monospace;
    float: right;
    align-items: flex-end;
}

.column-right p{
    
    width:35%;
    margin-left: 0;
    padding:0;
}
#fh3 {
    align-content: center;
    margin-top:10%;
    margin-left: 35%;

}